/* Seccion para la galeria.html*/
#galeria .col-lg-4 {
    margin:0 !important;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 100%;
}

#galeria img:hover {
    border: 5px solid antiquewhite;
}

.logo{
    width: 120px;
}
.custom{
    font-family: 'Aboreto', cursive;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
}
.titulo{
    display:inline;
    text-align: center;
    padding: 150px;
    font-family: 'Aboreto', cursive;
    letter-spacing: 15px;
    font-size: 30px;
    }
.subtitulo{
    font-family: 'Aboreto', cursive;
    letter-spacing: 10px;
    font-size: 20px;
    text-align: center;}
.background-nav{
    background-color:antiquewhite;
}
.formulario{
    
    padding-left: 20%;
    padding-right: 20%;
    border-color: antiquewhite;
}
.info{
    padding: 3% 15% 3% 15%;
}
.background-footer{
    background-color:aqua;
}
.text-center{
    text-align: center;
}