img{
    width: auto;
}
.home-product{
    width: 20%;
    margin-left:8%

}
.home-description{
    width:70%;
    display:inline;
    float: right; 
    background-color: rgb(221, 235, 37);       
}

h2{
    margin-left: 8%;    
}