/* Seccion general */

.titulo{
    display:inline;
    text-align: center;
    padding: 150px;
    font-family: 'Aboreto', cursive;
    letter-spacing: 15px;
    font-size: 30px;
    }
.subtitulo{
    font-family: 'Aboreto', cursive;
    letter-spacing: 10px;
    font-size: 20px;
    text-align: center;}
.background-nav{
    background-color:antiquewhite;
}
.logo{
    width: 120px;
}
.logo-instagram{
    width:30px;
}
.custom{
    font-family: 'Aboreto', cursive;
    letter-spacing: 15px;
    font-size: 20px;
    text-align: center;
}
.background-footer{
    background-color:aqua;
}
.alinear-footer{
    text-align: right;
}
/* Seccion para la galeria.html*/
#galeria .col-lg-4 {
    margin:0 !important;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 100%;
}
#galeria img:hover {
    border: 5px solid antiquewhite;
}
/* Seccion para el contacto*/
.formulario{
    
    padding-left: 20%;
    padding-right: 20%;
    border-color: antiquewhite;
}
.info{
    padding: 3% 15% 3% 15%;
}
/* Seccion para el inicio index.html*/
.home {
    width: auto;
}
.index-size-carousel{
    padding: 0% 20% 0% 20%;
}

/* Seccion para productos.html*/
.home-product{
    width: 20%;
    margin-left:8%
}
.galeria-description{    
    background-color: rgb(221, 235, 37);       
}
.galeria-de-productos{
    padding: 0% 10% 0% 10%
}


/* Seccion para historia.html */
.historia{
    padding: 0% 20% 2% 20%;
    line-height: 2;
}
.historia-justificar{
    text-align: justify;
}

/*Seccion para contacto.html*/
h2{
    margin-left: 15%;
    font-family: 'Roboto', 
    sans-serif;
}

/* Seccion para ubicación.html*/
h3{
    font-family: 'Roboto', 
    sans-serif;
}

